

/* Slider */
.containerSlider {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #1c1c1c;
    box-shadow: 0px 4px 15px rgba(0.3, 0.3, 0.3, 0.3); 

}

.slider {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 1; 
}

.slides {
    display: flex;
    width: 300%; 
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100vw; 
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.containerBTN{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.veja-mais {
    width: 220px;
    height: 60px;
    display: block;
    position: absolute;
    bottom: 100px;
    transition: transform 0.3s ease;
    padding: 10px 20px;
    background-color: #ECD42B;
    color: #1c1c1c;
    border: none;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 auto;
}

.veja-mais:hover{
    transform: scale(1.1);
}

.navigation-bar {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 10px;
}

.manual-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.4s;
}

.slides input {
    display: none;
}

@media screen and (max-width: 1150px) {
    .veja-mais{
        width: 150px;
        height: 40px;
        bottom: 70px;
        font-size: 18px;
    }
}

/* Media Queries (para responsividade) */
@media screen and (max-width: 768px) {
    .veja-mais {
        font-size: 15px;
        padding: 4px 16px;
        width: 140px;
        height: 25px;
        bottom: 20px;
        border-radius: 5px;
    }

    .navigation-bar {
        display: none;
    }
}


/* Serviços */

.containerServicos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerTenis{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 30px 0px;
}

.tituloTenis{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 30px 30px;
}

.tituloTenis p{
    font-size: 50px;
    font-weight: 700;
}

.linhaAmarela{
    width: 350px;
    height: 5px;
    background-color: #ECD42B;
    margin: 5px 0px 0px 0px;
}

/* Sobre nós */
.containersobrenos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.sobrenos {
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-image: url(sobrenos.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titulonos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.containerTextos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulonos p {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.linhaAmarela2 {
    width: 255px;
    height: 5px;
    background-color: #ECD42B;
    margin: 5px 0px 0px 0px;
}

.imgSapatos {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.imgSapatos img {
    width: 650px;
    height: 400px;
    object-fit: cover;
}

.texto {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}

.texto p {
    color: #fff;
    font-size: 30px;
}

@media screen and (max-width: 1220px) {
    .sobrenos {
        flex-direction: column;
        height: auto;
        justify-content: center;
    }

    .imgSapatos {
        width: 100%; 
        justify-content: center; 
        margin-top: 20px;
    }

    .imgSapatos img {
        width: 650px;
        height: 400px;
    }

    .texto {
        width: 100%;
        padding: 20px; 
    }

    .titulonos p {
        font-size: 40px; 
    }

    .texto p {
        font-size: 20px; 
    }
}

@media screen and (max-width: 900px) {
    .imgSapatos img {
        width: 100%;
        height: auto;
    }
}

/* Endereço da loja */

.containerNossaLoja{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0px 0px 0px;
    
}

.linhaAmarela3{
    width: 300px;
    height: 5px;
    background-color: #ECD42B;
}

.containerEnderecoCompleto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerImg{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.containerImg img{
    width: 420px;
    height: 350px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 4px 15px rgba(0.8, 0.8, 0.8, 0.8); 

}

.containerEndereco{
    width: 100%;
    height: 100%;
}

.endereco{
  width: 420px;
  height: 350px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ECD42B;
  box-shadow: 0px 4px 15px rgba(0.8, 0.8, 0.8, 0.8); 
  border-radius: 0px 20px 20px 0px; 
}


.bairro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.bairro p{
    font-size: 30px;
    font-weight: 600;
}

.rua{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 10px; 
}

.rua p{
   font-size: 20px; 
   font-weight: 500;
}

.telefone{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 20px;
    gap: 10px;
}

.telefone p{
    font-size: 25px;
    font-weight: 600;
}

.bairroRua{
    width: 100%;
}

@media screen and (max-width: 900px) {
    .containerEnderecoCompleto{
        width: 100%;
        height: auto;
        display: grid;
    }
    .endereco{
        border-radius: 0px 0px 20px 20px;
    }
    .containerImg img{
        border-radius: 20px 20px 0px 0px;
    }
}

/* Conheça também */

.containerConhecaTamebem{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conhecaTamebem{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 60px 30px;
    gap: 30px;
}

.tituloConheca{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloConheca p{
    font-size: 50px;
    font-weight: 700;
}

.linhaAmarela4{
    width: 270px;
    height: 5px;
    background-color: #ECD42B;
    margin: 5px 0px 0px 0px;
}

.containerBotaoClinica{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.botaoClinica{
    width: 400px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    background-color: #1c1c1c;
    border-radius: 20px;
    gap: 10px;
    transition: transform 0.3s ease;
}

.botaoClinica:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0.8, 0.8, 0.8, 0.8); 
}

.containerImgMala{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 0px 0px 20px;
}

.containerImgMala img{
    width: 55px;
    height: 45px;
}

.containerMala{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.containerMala p{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.containerVetor{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 20px 0px 0px;
}

.containerVetor img{
    width: 41px;
    height: 43px;
}

@media screen and (max-width: 700px) {
    .conhecaTamebem{
        display: grid;
    }

    .botaoClinica{
        width: 350px;
        height: 65px;
        border-radius: 10px;
    }

    .containerMala p{
        font-size: 23px;
    }

}

/* Sliders */

.slider2-container, .slider3-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 900px;
    gap: 20px;
}
.slider2-wrapper , .slider2-wrapper2 {
    width: 750px;
    overflow: hidden;
    position: relative;
    width: calc(240px * var(--visible-cards)); 
}

.slider2 , .slider4{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(240px * 6); 
}
.card , .card3{
    width: 240px;
    background: #ECD42B;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    margin: 0 5px;
    overflow: hidden;
    flex-shrink: 0;
}
.card img {
    width: 240px;
    height: 258px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card p {
    width: 240px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    background: #ECD42B;
}
.btn , .btn2{
    width: 35px;
    height: 60px;
    background-color: #1c1c1c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 970px) {
    .slider2-wrapper , .slider2-wrapper2 {
        width: 240px;
    }
    .card , .card3{
        width: 240px;
        min-width: 240px;
    }
}

.vetor2{
    width: 30px;
    height: 41px;
}

.slider3  {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.card2 , .card3 {
    width: 240px;
    background: #ECD42B;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.card2 img , .card3 img{
    width: 240px;
    height: 258px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card2 p, .card3 p {
    width: 240px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    background: #ECD42B;
}
@media (max-width: 768px) {
    .slider3 {
        flex-direction: column;
        align-items: center;
    }
}

.todosSliders , .todosSliders2{
    width: 100%;
    height: 100%;
    padding: 60px 0px 60px 0px;
}

.containerBTNVermais{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 0px 0px;
}

.btnVerMais button{
    width: 210px;
    height: 40px;
    color: #1c1c1c;
    background-color: #ECD42B;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 05px 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btnVerMais button:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0.3, 0.3, 0.3, 0.3); 
}

.btnVerMais img{
    width: 29px;
    height: 34px;
}